<!-- <div class="p-5">
    <p class="h1 mb-4">Popular Destinations</p>
  <table class="table table-borderless">
    <tbody  >
      <tr *ngFor="let row of citiesData">
        <td *ngFor="let item of row">{{item.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="p-5">
    <p class="h1 mb-4">Popular Destinations</p>
    <table>
        <tbody>
          <tr *ngFor="let row of citiesData">
            <td *ngFor="let city of row" >{{ city.name }}</td>
     
          </tr>
        </tbody>
      </table>
</div> -->

<div class="p-5">
  <p class="h1 mb-4">Popular Destinations</p>
  <div class="css-column">
    <p (click)="onCityClickHandler($event)" class="cursor-pointer" *ngFor="let item of citiesDataRaw">
      {{ item.name }} ({{ item.count }})
    </p>
  </div>
</div>
